html {
  font-family: sans-serif;
}

.center-timetable-table {
  width: 100%;
  overflow-x: scroll;
}

table.programme-table {
  border-collapse: collapse;
}

table.programme-table th,
table.programme-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: top;
}

table.programme-table th {
  vertical-align: middle;
  background-color: #f9f9f9;
  min-width: 10em;
}

table.programme-table td:first-child {
  font-weight: bold;
  background-color: #f9f9f9;
  position: sticky;
  left: 0px;
}

table.programme-table td div.activityBox {
  border: 1px solid #ddd;
  padding: 4px;
  margin: 2px;
}

table.programme-table td p.times {
  font-size: 0.8em;
  color: #666;
}

.activityCard {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 4px;
  background-color: #f9f9f9;
  text-align: left;
}

.activityCard .activityCard-title {
    margin-top: 0px;
    margin-bottom: 0.5em;
  font-weight: bold;
}

.activityCard .activityCard-center-p {
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-size: 0.9em;
  color: #555;
}

.activityCard .activity-badges {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.activityCard .badge {
  background-color: #007bff;
  color: white;
  font-size: 0.8em;
  padding: 2px 4px;
  margin-left: 4px;
  border-radius: 4px;
}

.programme-table-center .activityCard-slot-slot1 {
  border-left: 3px solid #efff13;
}

.programme-table-center .activityCard-slot-slot2 {
  border-left: 3px solid #3cdb36;
}

.programme-table-center .activityCard-slot-slot3 {
  border-left: 3px solid #36dbcd;
}

.programme-table-center .activityCard-slot-evening {
  border-left: 3px solid #201cff;
}

.programme-table-center .activityCard-slot-late-evening {
  border-left: 3px solid #7c30bb;
}

.programme-table-day .activityCard-center-planet-utopia {
  border-left: 3px solid #b700ff;
}

.programme-table-day .activityCard-center-stem-cell {
  border-left: 3px solid #0d6d00;
}

.programme-table-day .activityCard-center-mest-up {
  border-left: 3px solid #ff2be3;
}

.programme-table-day .activityCard-center-arts-crafts {
  border-left: 3px solid #ace5ff;
}

.programme-table-day .activityCard-center-kids-rule-the-world {
  border-left: 3px solid #ffff00;
}

.programme-table-day .activityCard-center-peoples-printing-press {
  border-left: 3px solid #660000;
}

.programme-table-day .activityCard-center-ecology {
  border-left: 3px solid #aeff9d;
}

.programme-table-day .activityCard-center-peace-conflict {
  border-left: 3px solid #cacaca;
}

.programme-table-day .activityCard-center-puzzles {
  border-left: 3px solid #020070;
}

.programme-table-day .activityCard-center-trade-union {
  border-left: 3px solid #ff7070;
}

.programme-table-day .activityCard-center-trailblazers {
  border-left: 3px solid #ff9100;
}

.programme-table-day .activityCard-center-centres-centre {
  border-left: 3px solid #7a5000;
}

.activityCard .badge.u12 {
  background-color: #28a745;
}

.activityCard .badge.ml {
  background-color: #ffc107;
}

.activityCard .badge.s {
  background-color: #17a2b8;
}

.activityCard .badge.prebook {
  background-color: #ff0000;
}

.activityCard .badge.lgbt {
  font-size: 1em;
  padding: 0px;
  background-color: #eeeeee;
}

.programme-date-section {
  margin-left: 3em;
  margin-bottom: 2em;
  margin-right: 1em;
}

.programme-slot-section h4 {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 1.1em;
  color: #333;
}

.programme-slot-section p {
  margin-top: 0em;
  margin-bottom: 1em;
  font-size: 0.9em;
  color: #555;
}

@media (max-width: 40em) {
  .center-timetable-table {
    display: none;
  }
}

@media print {
  .programme-date-section {
    display: none;
  }
}
