html {
  font-family: sans-serif;
}

table.programme-table {
  width: 100%;
  border-collapse: collapse;
}

table.programme-table th,
table.programme-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: top;
}

table.programme-table th {
    vertical-align: middle;
    background-color: #f9f9f9;
}

table.programme-table td:first-child {
  font-weight: bold;
  background-color: #f9f9f9;
}

table.programme-table td div.activityBox {
  border: 1px solid #ddd;
  padding: 4px;
  margin: 2px;
}

table.programme-table td p.times {
  font-size: 0.8em;
  color: #666;
}

.activityCard {
  border: 1px solid #ddd;
  padding: 8px;
  margin: 4px;
  background-color: #f9f9f9;
  text-align: left;
}

.activityCard .activity-badges {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.activityCard .badge {
  background-color: #007bff;
  color: white;
  font-size: 0.8em;
  padding: 2px 4px;
  margin-left: 4px;
  border-radius: 4px;
}

.activityCard-slot-morning {
  border-left: 3px solid #36db59;
}

.activityCard-slot-afternoon {
  border-left: 3px solid #ff1c4d;
}

.activityCard-slot-evening {
  border-left: 3px solid #7c30bb;
}

.activityCard .badge.u12 {
  background-color: #28a745;
}

.activityCard .badge.ml {
  background-color: #ffc107;
}

.activityCard .badge.s {
  background-color: #17a2b8;
}

.activityCard .badge.prebook {
  background-color: #ff0000;
}

.activityCard .badge.lgbt {
  font-size: 1em;
  padding: 0px;
  background-color: #ccc;
}

.programme-date-section {
  margin-left: 3em;
  margin-bottom: 2em;
  margin-right: 1em;
}

.programme-date-section h3 {
  margin-left: -2em;
}

.programme-slot-section h4 {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 1.1em;
  color: #333;
}

.programme-slot-section p {
  margin-top: 0em;
  margin-bottom: 1em;
  font-size: 0.9em;
  color: #555;
}

@media (max-width: 40em) {
  .center-timetable-table {
    display: none;
  }
}